.ToDo01{
    /* margin-top: 4rem;
    
    display: flex;
    align-items: center;
    justify-content: center; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}
.IGroup{
    max-width: 40rem;
}